<form class="Forgot">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <center>
    <button type="submit" class="btn btn-primary">Request password</button>
  </center>
</form>