<script src="https://www.google.com/recaptcha/api.js"></script>
<form class="show1">


  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input">
    <span class="form-check-label" for="remember">Remember me</span>
    <span class="ml-4">
      <a href="#" id="get-new-password">Forgot your password?</a>
    </span>
  </div>

  <center>
    <button type="submit" class="btn btn-primary">Login</button>
  </center>


  <div class="other text-center">
    <div class="hl">
      or
    </div>
    <div class="mt-3">
      <a href="#" class="fb btn">
        <i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook
      </a>
    </div>
    <div>
      <a href="#" class="google btn">
        <i class="fa fa-google-plus" aria-hidden="true"></i> Login with Google+
      </a>
    </div>
    <div class="d-flex justify-content-center">
      Don't have an account? <a href="#" class="ml-2" id="register">Sign Up</a>
    </div>
  </div>
</form>

<form class="show2" style="display: none;">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <center>
    <button type="submit" class="btn btn-primary">Request password</button>
  </center>
  <div class="d-flex justify-content-center mt-4" id="goback"> Want to try again ?
    <a href="#" class="ml-2">Go back</a>
  </div>
</form>

<form class="show3" style="display: none;">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Full name">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Re-enter Password">
  </div>

  <div class="form-group">
    <div class="g-recaptcha" data-sitekey="6LeQeVkdAAAAAETp3LBvY2nsOHF0ZFObrGYWe-_o"></div>
  </div>

  <center>
    <button type="submit" class="btn btn-primary">Register</button>
  </center>
  <div class="mt-4">
    <div class="d-flex justify-content-center">
      Have an account ? <a href="#" class="ml-2" id="gobackLog">Login</a>
    </div>
</form>