<form class="Register">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Full name">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Email">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Re-enter Password">
  </div>
  <center>
    <button type="submit" class="btn btn-primary">Register</button>
  </center>
  <div class="mt-4">
    <div class="d-flex justify-content-center">
      Have an account ? <a href="./login" class="ml-2">Login</a>
    </div>
</form>