{{#section 'css'}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.6/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/azrztam7agu8ui1d0jp84lr1lrzyuyayx0nsz6pk99l551lw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#FullDesc',
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: ['undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link media'],
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.6/js/fileinput.min.js"></script>
    <script>
        $('#thumbnail').fileinput({
            dropZoneEnabled: false
        });
        $('#subImages').fileinput({
            dropZoneEnabled: false
        });
    </script>
{{/section}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card my-5">
                <h3 class="card-header">Add a new product</h3>
                <div class="card-body">
                    <div class="border border-secondary rounded px-5 py-5">
                        <h5 class="card-title">Product details</h5>
                        <hr>
                        <form id="addForm" name="addForm" class="needs-validation" novalidate method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="ProName">Product name</label>
                                    <input type="text" class="form-control" id="ProName" name="ProName"
                                           placeholder="Product name" required>
                                    <div class="invalid-feedback">You must not leave this field blank</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="CatName">Category</label>
                                    <select class="form-control" id="CatName" name="CatName" required>
                                        {{#each this.catList}}
                                            <option>{{CatName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Start_price">Start price</label>
                                    <input type="number" min="0" class="form-control" id="Start_price" name="Start_price" placeholder="VND"
                                           required>
                                    <div class="invalid-feedback">Price should be a positive number</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Buy_now">Buy now price</label>
                                    <input type="number" min="0" class="form-control" id="Buy_now" name="Buy_now" placeholder="VND"
                                           required>
                                    <div class="invalid-feedback">Price should be a positive number</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="UploadDate">Start date</label>
                                    <input type="datetime-local" class="form-control" id="UploadDate" name="UploadDate"
                                           required>
                                    <div class="invalid-feedback">You must not leave this field blank</div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="EndDate">End date</label>
                                    <input type="datetime-local" class="form-control" id="EndDate" name="EndDate"
                                           required>
                                    <div class="invalid-feedback">You must not leave this field blank</div>
                                </div>
                                <script>
                                    $(function() {
                                        var $form = $('#addForm'),
                                            $start_date = $('#UploadDate', $form),
                                            $end_date = $('#EndDate', $form),
                                            $button = $('.submit', $form);
                                        $button.prop('disabled', 'disabled');

                                        $start_date.on('change', function () {
                                            var startDate = new Date($(this).val());
                                            var endDate = new Date($end_date.val());
                                            if (startDate > endDate) {
                                                alert(`Start date must be before End date`);
                                                $(this).val('');
                                                $button.prop('disabled', 'disabled');
                                            } else {
                                                $button.prop('disabled', false);
                                            }
                                        });

                                        $end_date.on('change', function () {
                                            var startDate = new Date($start_date.val());
                                            var endDate = new Date($(this).val());
                                            if (endDate <= startDate) {
                                                alert(`End date must be after Start date`);
                                                $(this).val('');
                                                $button.prop('disabled', 'disabled');
                                            } else {
                                                $button.prop('disabled', false);
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="form-row">
                                <div class="col mb-3">
                                    <label for="FullDesc">Description</label>
                                    <textarea rows="10" type="text" minlength="200" class="form-control" id="FullDesc" name="FullDesc"
                                              placeholder="Write something to describe your product" required></textarea>
                                    <div class="invalid-feedback">Product description must have at least 200 characters</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="thumbnail">Main thumbnail</label>
                                    <input type="file" id="thumbnail" name="thumbnail" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="subImages">Product images</label>
                                    <input type="file" id="subImages" name="subImages" required multiple>
                                </div>
                                <script>
                                    $(function() {
                                        var max_file_number = 5,
                                            min_file_number = 3;
                                            $form = $('#addForm'),
                                            $file_upload = $('#subImages', $form),
                                            $button = $('.submit', $form);
                                        $button.prop('disabled', 'disabled');

                                        $file_upload.on('change', function () {
                                            var number_of_images = $(this)[0].files.length;
                                            if (number_of_images > max_file_number) {
                                                alert(`You can upload maximum ${max_file_number} product images files.`);
                                                $(this).val('');
                                                $button.prop('disabled', 'disabled');
                                            } else if (number_of_images < min_file_number) {
                                                alert(`Product must have at least ${min_file_number} images beside the thumbnail`);
                                                $(this).val('');
                                                $button.prop('disabled', 'disabled');
                                            } else {
                                                $button.prop('disabled', false);
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <button class="btn btn-success" type="submit">Confirm</button>
                        </form>
                        <script>
                            (function() {
                                'use strict';
                                window.addEventListener('load', function() {
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function(form) {
                                        form.addEventListener('submit', function(event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>