<thead>
<tr>
    <th>#</th>
    <th>Product Name</th>
    <th>Category</th>
    <th>End Date</th>
    <th>Winner</th>
    <th>Cancel</th>
</tr>
</thead>
<tbody>
<tr>
    <td>1</td>
    <td>Adminox Admin</td>
    <td>01/01/2015</td>
    <td>07/05/2015</td>
    <td><span class="label label-info">Work in Progress</span></td>
    <td>Coderthemes</td>
</tr>
<tr>
    <td>2</td>
    <td>Adminox Frontend</td>
    <td>01/01/2015</td>
    <td>07/05/2015</td>
    <td><span class="label label-success">Pending</span></td>
    <td>Coderthemes</td>
</tr>
<tr>
    <td>3</td>
    <td>Adminox Admin</td>
    <td>01/01/2015</td>
    <td>07/05/2015</td>
    <td><span class="label label-pink">Done</span></td>
    <td>Coderthemes</td>
</tr>
<tr>
    <td>4</td>
    <td>Adminox Frontend</td>
    <td>01/01/2015</td>
    <td>07/05/2015</td>
    <td><span class="label label-purple">Work in Progress</span></td>
    <td>Coderthemes</td>
</tr>
<tr>
    <td>5</td>
    <td>Adminox Admin</td>
    <td>01/01/2015</td>
    <td>07/05/2015</td>
    <td><span class="label label-warning">Coming soon</span></td>
    <td>Coderthemes</td>
</tr>
</tbody>
