nav .form-inline{
    width: 55%;
}

#search-bar{
    width: 80%;
}
#search-bar, nav .form-inline button {
    height: 50px;
}
nav .collapse {
    font-size: 20px;
}

nav .collapse .nav-item {
    margin-right: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

footer ul li a {
    color: white;
}
footer ul li a:hover {
    color: #5db6d6;
}

footer hr {
    border: 1px solid;
}

.tag-picture {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    position: absolute;
    top: 140px;
    right: 0px;
}

.card {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}


.card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 0;
    position: relative;
}

.card .thumbnail img {
    width: 100%;
}

.card .thumb-cover {
    padding: 15px 20px;
    height: 100%;
    top: 0;
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
}
.thumb-cover{
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
}
.card .user {
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.23);
    line-height: 20px;
    display: block;
}


.card .details {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(62%, rgba(0,0,0,0.36)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e000000', endColorstr='#00000000',GradientType=0 );
    top: 0;
    display: block;
    height: 60px;
    padding: 10px 15px 0;
    position: absolute;
    width: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.card .user .user-photo {
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.card .user .name {
    line-height: 35px;
    margin-left: 10px;
    font-size: 16px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    white-space: nowrap;
}

.card .numbers {
    color: #FFFFFF;
    float: right;
    margin-top: 6px;
}

.card .numbers .downloads, .card .numbers .comments-icon {
    margin-left: 6px;
    font-size: 15px;
    font-weight: 500;
}

.card .numbers .fa {
    font-size: 18px;
}

.card .numbers .downloads, .card .numbers .comments-icon {
    margin-left: 6px;
    font-size: 15px;
    font-weight: 500;
}

.pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color:#fc5959 ;
    font-size: 15px;
}

a > img {
    width: 115px;
    height: 100px;
}

