<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-commerce Web App</title>
    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
    <a class="navbar-brand ml-3 mr-5" href="#">
        <h3 class="font-weight-bolder">AuctionX</h3>
    </a>

    <form class="form-inline my-3 ml-auto mr-0">
        <input id="search-bar" aria-label="Search" class="form-control mr-sm-1 "
               placeholder="Search for brand, color, .etc..." type="search">
        <button class="btn btn-success my-2 my-sm-0 text-white" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
        </button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-0  mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="ml-2 nav-item">
                <button type="button" class="btn btn-outline-success btn-lg">Sell</button>
            </li>
        </ul>
    </div>


    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

{{{body}}}

<!-- Footer -->
<footer class="page-footer font-small elegant-color bg-dark">


    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5 text-white">

        <!-- Grid row -->
        <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>About me</h5>

                <hr class="clearfix text-success mb-4 mt-0 ml-0 mr-5">

                <p class="foot-desc mb-0 font-weight-light">Here you can use rows and columns to organize your footer content. Lorem
                    ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>Products</h5>
                <hr class="clearfix text-success mb-4 mt-0 ml-0 mr-5">

                <ul class="list-unstyled  foot-desc font-weight-light">
                    <li class="mb-2">
                        <a href="#!">MDBootstrap</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">MDWordPress</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">BrandFlow</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">Bootstrap Angular</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>Useful links</h5>
                <hr class="clearfix text-success mb-4 mt-0 ml-0 mr-5">

                <ul class="list-unstyled foot-desc font-weight-light">
                    <li class="mb-2">
                        <a href="#!">Your Account</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">Become an Affiliate</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">Shipping Rates</a>
                    </li>
                    <li class="mb-2">
                        <a href="#!">Help</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

                <!-- Links -->
                <h5>Contacts</h5>
                <hr class="clearfix text-success mb-4 mt-0 ml-0 mr-5">

                <ul class="fa-ul foot-desc ml-4 font-weight-light">
                    <li class="mb-2"><span class="fa-li"><i class="fa fa-map-o" aria-hidden="true"></i></span>New York, Avenue Street 10
                    </li>
                    <li class="mb-2"><span class="fa-li"><i class="fa fa-phone" aria-hidden="true"></i></i></span>042 876 836 908</li>
                    <li class="mb-2"><span class="fa-li"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>company@example.com</li>
                    <li><span class="fa-li"><i class="fa fa-clock-o" aria-hidden="true"></i></span>Monday - Friday: 10-17</li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <hr class="clearfix text-success my-0 mx-auto w-60">
        </div>

    </div>

    <!-- Footer Links -->
    <div class="container">

        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col d-flex justify-content-center my-5 pt-1">

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fa fa-facebook-f fa-lg text-white mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fa fa-twitter fa-lg text-white mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <i class="fa fa-linkedin fa-lg text-white mx-3 mx-md-4 fa-2x" aria-hidden="true"></i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fa fa-instagram fa-lg text-white mx-3 mx-md-4 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                    <i class="fa fa-pinterest fa-lg text-white mx-3 mx-md-4 fa-2x"> </i>
                </a>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Links -->



    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-success font-weight-light text-white ">© 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>
</html>