<div class="main-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
        <div class="col-lg-8">
            {{#each this.UserInfo}}
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top rounded-circle img-thumbnail ml-5 mr-5 mt-2"
                             style="width: 200px; height: 200px" src="/public/imgs/avatar/0/avatar1.png" alt="ABC">
                        <div class="card-body">
                            <h5 class="card-title">{{UserName}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
</div>