.login-card {
    margin-top: 150px;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid darkgreen;
}
.logo-container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    border-radius: 50%;
    border: 1px solid darkgreen;
    background: white;
    padding: 10px;
}
.logo {
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
.form-container {
    margin-top: 75px;
}

.fb {
    text-align: center;
    color: white;
    background-color: #3B5998;
    margin-bottom: 3px;
}
.google {
    background-color: #dd4b39;
    color: white;
    margin-bottom: 3px;
  }
body {
    background-image: url('../img/background.jpg');
    background-size: 100%;
}